@import "tailwindcss";
:root {
  --froggert-width: 150px;

  /* Light mode variables */
  --primary-color: #f59300;
  --bg-color-light: #f9fafb;
  --text-color-light: #1f2937;
  --social-icon-color-light: #4b5563;
  --copyright-color-light: #6b7280;

  /* Dark mode variables */
  --primary-color-dark: #c0faff;
  --bg-color-dark: #171717;
  --text-color-dark: #f3f4f6;
  --social-icon-color-dark: #e5e7eb;
  --copyright-color-dark: #d1d5db;

  --window-width: clamp(40rem, calc(50vw + 5rem), 50rem);
  --window-height: clamp(25rem, calc(50vh + 5rem), 35rem);
  --avatar-width: clamp(10rem, calc(9vh + 4rem), 20rem);
  --name-size: clamp(2rem, calc(2.1vw + 1rem), 3rem);
  --translate: translate(-50%, -60%);
}

/* Base styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.font-roboto-mono {
  font-family: "Roboto Mono", monospace;
}
.font-zen-kaku {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.text-primary {
  color: #f59300;
}
.text-primary-dark {
  color: #c0faff;
}

/* Container styles */
.app-container-light {
  min-height: 100vh;
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.app-container-dark {
  min-height: 100vh;
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Social icon styles */
.social-icon-light {
  color: var(--social-icon-color-light);
  max-width: 100%;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
}

.social-icon-dark {
  color: var(--social-icon-color-dark);
  max-width: 100%;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

/* Copyright text styles */
.copyright-light {
  color: var(--copyright-color-light);
}

.copyright-dark {
  color: var(--copyright-color-dark);
}

/* Animation */
.bobbing {
  animation: bobbing 3s ease-in-out infinite;
}

@keyframes bobbing {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
